{{define "title"}}PATOS - Tienda Oficial{{end}}

{{define "content"}}
    <section class="hero">
        <div class="hero__images">
            <picture>
                <source srcset="/static/img/modelo1.avif" type="image/avif">
                <img src="/static/img/modelo1.png" alt="Modelo 1" fetchpriority="high" class="hero__image">
            </picture>

            <picture>
                <source srcset="/static/img/modelo2.avif" type="image/avif">
                <img src="/static/img/modelo2.png" alt="Modelo 2" fetchpriority="high" class="hero__image">
            </picture>

            <picture>
                <source srcset="/static/img/modelo3.avif" type="image/avif">
                <img src="/static/img/modelo3.png" alt="Modelo 3" fetchpriority="high" class="hero__image">
            </picture>
        </div>

        <div class="hero__content">
            <h1 class="hero__title">
                <span class="hero__text hero__text--pastel">AQUÍ TENEMOS ROPA</span><br>
                <span class="hero__text hero__text--orange">PA TOS</span>
            </h1>
        </div>
    </section>

    <section class="benefits">
        <div class="benefits__item benefits__item--odd">
            <p>¿Acabas de llegar? Aprovecha tu descuento de bienvenida.</p>
        </div>
        <div class="benefits__item benefits__item--even">
            <p>Descarga nuestra app para hacerte con descuentos exclusivos y enterarte de las novedades.</p>
        </div>
        <div class="benefits__item benefits__item--odd">
            <p>¡Disfruta de envíos express sin límites durante un año con PA TOS flash por solo 19,99€!</p>
        </div>
        <div class="benefits__item benefits__item--even">
            <p>Devoluciones rápidas y sencillas</p>
        </div>
    </section>

    <section class="category">
        <figure class="category__image">
            <img src="/static/img/foto_mujer.png" alt="Categoría Mujer" class="category__img">
        </figure>

        <div class="category__content">
            <h2 class="category__title">Categoría Mujer</h2>
            <ul class="category__columns">
                <li class="category__column">
                    <h3 class="category__column-title">NIÑA</h3>
                    <ul class="category__list">
                        <li class="category__item">Abrigos</li>
                        <li class="category__item"><a href="/chaquetas" class="category__link">Chaquetas</a></li>
                        <li class="category__item">Camisas</li>
                        <li class="category__item">Pantalones</li>
                        <li class="category__item">Deporte</li>
                        <li class="category__item">Trajes</li>
                        <li class="category__item">Accesorios</li>
                        <li class="category__item">Vaqueros</li>
                        <li class="category__item">Bisutería</li>
                        <li class="category__item">Vestidos</li>
                        <li class="category__item">Blusas</li>
                        <li class="category__item">Faldas</li>
                        <li class="category__item">Tops</li>
                        <li class="category__item">Zapatos</li>
                        <li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">JUVENIL</h3>
                    <ul class="category__list">
                        <li class="category__item">Abrigos</li><li class="category__item">Chaquetas</li><li class="category__item">Camisas</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Trajes</li><li class="category__item">Accesorios</li><li class="category__item">Vaqueros</li><li class="category__item">Bisutería</li><li class="category__item">Vestidos</li><li class="category__item">Blusas</li><li class="category__item">Faldas</li><li class="category__item">Tops</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">ADULTA</h3>
                    <ul class="category__list">
                        <li class="category__item">Abrigos</li><li class="category__item">Chaquetas</li><li class="category__item">Camisas</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Trajes</li><li class="category__item">Accesorios</li><li class="category__item">Vaqueros</li><li class="category__item">Bisutería</li><li class="category__item">Vestidos</li><li class="category__item">Blusas</li><li class="category__item">Faldas</li><li class="category__item">Tops</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">MISS</h3>
                    <ul class="category__list">
                        <li class="category__item">Abrigos</li><li class="category__item">Chaquetas</li><li class="category__item">Camisas</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Trajes</li><li class="category__item">Accesorios</li><li class="category__item">Vaqueros</li><li class="category__item">Bisutería</li><li class="category__item">Vestidos</li><li class="category__item">Blusas</li><li class="category__item">Faldas</li><li class="category__item">Tops</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="category category--man">
        <div class="category__content">
            <h2 class="category__title">Categoría Hombre</h2>
            <ul class="category__columns">
                <li class="category__column">
                    <h3 class="category__column-title">NIÑO</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">JUVENIL</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">ADULTO</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">MISTER</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>
            </ul>            
        </div>
        <figure class="category__image">
            <img src="/static/img/foto_hombre.png" alt="Categoría Hombre" class="category__img">
        </figure>
    </section>
{{end}}

